@font-face {
    font-family: Joan-Regular;
    src: url("assets/fonts/joan-regular.ttf");
}

* {
    box-sizing: border-box;
}

body {
    border: 1px solid red;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.nav-link {
    transition: .3s;
}

.section-item a { 
    text-decoration: none;
    transition: 0.5s;
}

.section-item a:hover {
    text-decoration: underline;
}